.swipeable-action-button {
    align-items: center;
    appearance: none;
    background: none;
    box-shadow: none;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 88%;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.swipeable-action-button i {
    color: white !important;
}

.swipeable-action-button__icon + .swipeable-action-button__text {
    margin-top: 4px;
}
