.swipeable-action {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 200vw;
}

.swipeable-action--left {
    justify-content: flex-end;
    right: 100%;
}

.swipeable-action--right {
    justify-content: flex-start;
    left: 100%;
}
